html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.text-error {
  color: #ff1c1c;
}

.priority-color-3 {
  color: red;
  font-weight: bold;
}

.priority-color-2 {
  color: #0d6efd;
  font-weight: bold;
}

.priority-color-1 {
  color: #146c43;
  font-weight: bold;
}

.priority-details-color-1 {
  color: #20c997;
  font-weight: bold;
}

.description-details {
  margin: 0 1.6em;
  color: #bacbe6;
}

.sort-stick {
  margin-top: 0.6em;
  margin-bottom: 0.8em;
  padding-top: 0.8em;
  padding-bottom: 0.8em;
  border-radius: 0.5em;
}